body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #3E6D9C;
    overflow: auto;
    position: fixed;
    z-index: 5;
}

/* Navbar links */
.left-link {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.right-link {
    float: right;
    text-align: center;
    margin: 12px 30px;
    color: white;
    text-decoration: none;
    border-color: #3E6D9C;
    font-size: 15px;
    padding: 8px 25px;
    background-color: #FF731D;
}

.logo {
    max-width: 40px;
    max-height: 40px;
    margin: 12px 30px;
}

.btn:hover {
    background-color: #E14D2A;
    border-color: #E14D2A;
    color: #fff;
}


@media only screen and (max-width: 420px) {

    .right-link {
        visibility: hidden;
    }

}

/* TOP CONTAINER */

#top-container {
    background-color: #3E6D9C;
}

.line {
    max-width: 120px;
    max-height: 120px;
}

.line-up {
    margin-top: 70px;
}

.line-down {
    display: -webkit-box;
    margin-left: auto;

}

.main-top {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
}

p {
    line-height: 1.8;
    font-size: 1rem;
}

.hey {
    padding-bottom: 25px;
}

.name {
    padding-bottom: 5px;
    font-size: 2rem;
}

.name-sub {
    padding-bottom: 20px;
    color: #FF731D;
    font-size: 1.8rem;
}

.btn-header {
    color: #fff;
    border-color: #fff;
    padding: 15px 35px;
    margin-top: 20px;
}

span {
    color: #E14D2A;
}


/* MIDDLE CONTAINER */

.first-img {
    max-width: 100%;
}

.middle-container {
    padding: 50px 30px;
}

.first-img-caption {
    padding-top: 20px;
}

.caption-header {
    font-size: 1.2rem;
    font-weight: 500;
}

.caption-paragraph {
    color: grey;
}

.caption-btn {
    color: #fff;
    background-color:#FF731D;
    font-size: 15px;
    padding: 10px 30px;
    font-weight: 400;
}

.second-img {
    max-width: 100%;
    padding-top: 70px;
}

.ui-header {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 40px;
}

.sixth-img {
    max-width: 100%;
    padding-bottom: 20px;
}

.sixth-caption-btn {
    text-align: center;
}

/* BOTTOM CONTAINER */

.bottom-container {
    background-color: #3E6D9C;
    color: #fff;
    padding-bottom: 50px;
}

.expertise-div {
    padding: 10px 30px;
}

.expertise-li li {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.1rem
}

.bottom-line-up {
    margin-top: 0;
    max-width: 120px;
    max-height: 120px;
}

.my-expertise {
    padding-left: 13px;
    font-size: 1.8rem
}

/* TESTIMONIALS */

.testimonials {
    padding: 70px 30px;
    text-align: center;
}

.testimonial-header {
    padding-bottom: 25px;
    line-height: 1.3;
    font-size: 1.8rem;
}

.paragraph-div {
    padding: 20px 0;
    background-color: #FF731D;
    color: #fff;
}

.paragraph-div p {
    padding: 0 20px;
}

hr {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.test-p {
    font-weight: 500;
}

/* SAY HI SECTION */

.say-hi {
    text-align: center;
    padding: 70px 30px;
    background-color: #3E6D9C;
    color: #fff;
}

.say-hi a {
    margin-left: 10px;
}

.say-hi-btn {
    color: #fff;
    background-color:#FF731D;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 400;
}

.say-hi-btn-outline {
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 400;
    border-color:#fff;
}

.say-hi-btn-outline:hover {
    background-color: #FF731D;
    border-color: #FF731D;
}

/* FOOTER SECTION */

#footer {
    text-align: center;
    padding: 80px 0 40px;
    background-color: #fff;
}

.footer-link {
    margin-left: 15px;
    font-size: 1.2rem;
    color: #7F7C82;
}

.footer-link:hover {
    color: #3E6D9C;
}

.footer-paragraph {
    font-size: 0.7rem;
    padding-top: 10px;
    color: #7F7C82;
}



.expertise-div, .say-hii, .main-topp {
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-delay: -5s;
  }
  
  @keyframes example {
    0%   { top:500px;}
    100% { top:0px;}
  }