/* navbar section styling */
.navbar {
  border-bottom: 1px solid #D3DEDC;
  background-color: #EEEEEE;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: #444444;
  padding-left:10px;
}

.navbar-brand:hover {
  color: #686D76;
}

.nav-link {
  color: #444444;
}

.nav-link:hover {
  color: #686D76;
}

.navbar-toggler {
  color: grey;
}
.nav-img{
  margin-left:10px;
}

/* title section styling */
.header-container {
  padding: 200px 50px 150px;
  text-align: center;
  background-color: #EEEEEE;
}

h1 {
  font-family: 'Comforter', cursive;
  font-size: 4rem;
  color: #444444;
}

.header-paragraph {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 100;
  color: #686D76;
}

/* Work section styling */

#work {
  background-color: #abc9f4;
  color: #fff;
  padding: 100px 50px 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.work-heading {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
  color: #344b74;
}

.fas-work {
  padding-bottom: 30px;
  color: #EEEEEE;
}

.fas-work:hover {
  color: #344b74;
}

.work-paragraph {
  padding-bottom: 50px;
  line-height: 1.8;
  font-size: 1.2rem;
  color: #EEEEEE;
  font-weight:300;
}

.work-subheading {
  font-weight: 700;
  font-size: 1.5rem;
  color: #344b74;
}

/* Testimonial Section Styling */
#testimonials {
  padding: 100px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #EEEEEE;
}

.testimonial-heading {
  font-size: 2rem;
  padding-bottom: 20px;
  color:#444444;
}

.testimonial-subheading {
  padding: 10px 100px;
  line-height: 1.6;
  font-weight:300;
  color:#686D76;
}
.testimonial-footer{
  font-size:0.8rem;
  font-weight:600;
  color:#444444;
}


/* Freelance Section styling */
#freelance{
  background-color:#abc9f4;
  text-align:center;
  padding:50px 50px 100px;
  font-family: 'Montserrat', sans-serif;
}
.freelance-heading{
  font-size:3rem;
  color:#344b74;
  padding:50px 10px 0;
}
.freelance-subheading{
  padding:20px 20px 10px;
  font-size:1.5rem;
  font-weight:500;
  color:#EEEEEE;
}
.freelance-paragraph{
  padding:5px 50px 10px;
  line-height:1.8;
  font-size:1.2rem;
  color:#EEEEEE;
  font-weight:300;
}
.freelance-btn{
  background-color:#344b74;
  color:#EEEEEE;
  margin-top:20px;
  padding-left:20px;
  padding-right:20px;
}
.freelance-btn:hover{
  background-color:#EEEEEE;
  color:#344b74;
}
.hey{
  background:linear-gradient(transparent 40%, #344b74 40% );
}

/* Footer Section Styling */
#footer{
  padding:100px 0 50px;
  background-color: #EEEEEE;
  text-align:center;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
}
.footer-link{
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  color:#686D76;
  padding:10px 5px;
}
.footer-paragraph{
  font-family: 'Montserrat', sans-serif;
  color:#686D76;
  padding:10px 5px;
  font-size:0.8rem;
}
.footer-link:hover{
  color:#344b74;
}
